<div>
  работает
  <!-- использование переменной с ts файла -->
  <p>{{title}}</p>

  <!-- созданный нами компонент (надо импортировать в ts файле в виде NewComponentComponent)-->
  <!-- ■ 2 передача массива в дочерний компонент с помощью пропа -->

  <!-- ■ 3 3первый способ получения данных -->
  <!-- <app-new-component [users]="users"/> -->

  <!-- ▣ 3 второй способ получения данных -->
  <!-- @for(user of users; track user.id){
  <app-new-component [id]="user.id" [name]="user.name" [surname]="user.surname"></app-new-component>
  } -->




  <app-user-form/>
</div>